@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  animation: spin 2s linear infinite;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: rgb(11, 17, 22);
  stroke-linecap: round;
  animation: spinner-path 1.5s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: spin(360deg);
  }
}

@keyframes spinner-path {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* Notification */

.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.pending {
  background-color: #177cbe;
}

.success {
  background-color: #10be58;
}

.error {
  background-color: #e65035;
}

